@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*----------------GENERAL STYLES applied to multiple element------------*/

.bold {
  font-weight: bolder;
}
.yellow-bg {
  background-color: #f4d04e;
  padding: 4px 12px;
  border-radius: 6px;
  display: inline;
}
.big {
  font-size: 1.25rem;
}
.hover:hover,
.hover:focus {
  cursor: pointer;
  color: #f4d04e;
}

body {
  height: 100vh;
  font-family: "Figtree", sans-serif;
}
/*-------------------------------------CONTAINER STYLES----------------------------------------*/
.container {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.1) 70px, transparent 70px)
      center center / 100px 100% repeat-x,
    #f4d04e;
  padding: 1rem; /*needed some padding at smaller screen size the card would touch both edges */

  height: 100%;

  /*places card and h1 text in the center */
  display: grid;
  place-content: center;
}

h1 {
  text-align: center; /*properly center text with card below */
}

/*----------------------CARD STYLES---------------------- */

.card {
  margin-top: 0.55rem;
  padding: 1rem;
  max-width: 450px; /*stops cards from getting too big on big screens
  (note i had to remove min-height on body or container wouldn't fill up the webpage) */

  background-color: rgb(255, 255, 255);

  box-shadow: 10px 8px 5px black;
  border-radius: 20px;

  font-size: 1rem; /*made it a bit bigger */
  opacity: 0.929;

  display: flex;
  flex-direction: column;
}

.card-img-wrapper {
  width: 100%;
}

img[src$="illustration-article.svg"] {
  /*  margin: 0 auto 0 auto; */ /*centering the svg image causes is not needed */
  width: 100%;
  border-radius: 20px;

  display: block;
}
.card-text-wrapper,
.attribution-wrapper {
  margin-top: 1rem;
}
.card-text-wrapper p + p {
  margin-top: 1rem;
}

.card-text-wrapper .extra-margin {
  /*only targets html css  foundation text*/
  margin: 1.25rem 0 1.25rem 0;
}

/*------------------ATTRIBUTION STYLES-------------------- */
.attribution {
  display: flex;
  align-items: center;
  gap: 0.55em;
}

.attribution a {
  text-decoration: none;
  color: black;
}
